unins000.dat
unins000.exe
app-metadata.json
__pycache__/
*.pyc
*.pyt.xml
qc-code/

# Abaikan semua isi di dalam folder config dan temp
config/*
temp/*

# Pengecualian: JANGAN abaikan file .gitkeep
!config/.gitkeep
!temp/.gitkeep